# Core functionality - changes here should be rare!
/src/app.py                   @mayank9998
/src/backend/database.py      @mayank9998
/src/backend/routers/auth.py  @mayank9998

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mayank9998
